<div class="container my-3">
  <h2>Ejercicio de Pipes Presentado por Lizeth Andrea Noguera</h2>
  <hr>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col"> Tipo de Pipe </th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
<!-- Mayuscula en la primera letra de cada palabra que forma un texto.-->
      <tr>
        <td>{{ name1 }} </td>
        <td>titleCase </td>
        <td>{{ name1 | titlecase }} </td>
      </tr>

      <tr>
        <td>{{ name2 }} </td>
        <td>titleCase </td>
        <td>{{ name2 | titlecase }} </td>
      </tr>
<!-- Pipe personalizado que convierte un valor númerico y le saca el valor elevado al cuadrado-->
      <tr>
        <td>{{ Num1 }} </td>
        <td> Número al Cuadrado</td>
        <td>{{ Num1 | myPipe | number }} </td>
      </tr>

      <tr>
        <td>{{ Num2 }} </td>
        <td> Número al Cuadrado</td>
        <td>{{ Num2 | myPipe | number }} </td>
      </tr>
<!-- Haciendo Swapcase -->
      <tr>
        <td>{{ name1 }} </td>
        <td>Swapcase </td>
        <td>{{ name1 | myPipe2 }} </td>
      </tr>
      <tr>
        <td>{{ name2 }} </td>
        <td>Swapcase </td>
        <td>{{ name2 | myPipe2 }} </td>
      </tr>
<!-- Haciendo Swapcase --> 
      <tr>
        <td>{{ myArray }} </td>
        <td>slice:0:4 </td>
        <td>{{ myArray | slice:0:4 }} </td>
      </tr>

      <tr>
        <td>{{ myArray }} </td>
        <td>*ngFor="let number of myArray | slice:0:3" </td>
        <td>
          <ul>
            <li *ngFor="let number of myArray | slice:0:3">{{ number }} </li>
          </ul>
        </td>
      </tr>

      

      <tr>
        <td>{{ Num1 }} </td>
        <td>number:'1.0-2'</td>
        <td>{{ Num1 | number:'1.0-2' }} </td>
      </tr>

      <tr>
        <td>{{ myNum }} </td>
        <td>percent</td>
        <td>{{ myNum | percent }} </td>
      </tr>

      <tr>
        <td>{{ myNum }} </td>
        <td>percent:'2.2-2'</td>
        <td>{{ myNum | percent:'2.2-2' }} </td>
      </tr>

      <tr>
        <td>{{ salary }} </td>
        <td>currency</td>
        <td>{{ salary | currency }} </td>
      </tr>

      <tr>
        <td>{{ salary }} </td>
        <td>currency:'EUR'</td>
        <td>{{ salary | currency:'EUR' }} </td>
      </tr>

      <tr>
        <td>{{ salary }} </td>
        <td>currency:'EUR':'code'</td>
        <td>{{ salary | currency:'EUR':'code' }} </td>
      </tr>

      <tr>
        <td>{{ salary }} </td>
        <td>currency:'EUR':'symbol':'4.0-0'</td>
        <td>{{ salary | currency:'EUR':'symbol':'4.0-0' }} </td>
      </tr>

      <tr>
        <td> {{ nerd }} </td>
        <td>json</td>
        <td>
          <pre>{{ nerd | json }} </pre>
        </td>
      </tr>

      <tr>
        <td> {{ promiseValue }} </td>
        <td>json</td>
        <td>
          <pre>{{ promiseValue | json }} </pre>
        </td>
      </tr>

      <tr>
        <td> {{ promiseValue }} </td>
        <td>async</td>
        <td>
          <pre>{{ promiseValue | async }} </pre>
        </td>
      </tr>

      <tr>
        <td> {{ myDate }} </td>
        <td>date</td>
        <td>
          <pre>{{ myDate | date }} </pre>
        </td>
      </tr>

      <tr>
        <td> {{ myDate }} </td>
        <td>date:'medium'</td>
        <td>
          <pre>{{ myDate | date:'medium' }} </pre>
        </td>
      </tr>

      <tr>
        <td> {{ myDate }} </td>
        <td>date:'EEE, d of LLL of yyyy'</td>
        <td>
          <pre>{{ myDate | date:'EEE, d of LLL of yyyy' }} </pre>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>

</div>